#B1{
    background-image: url(images/123.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color:#FF807A;
    background-size: cover;
    
}
#B2{
   color: white;
   font-weight:bold;
   font-size: 40px;
   font-family:sans-serif;
   position: fixed;
   top: 40vh;
   left: 40vh;
 
}
#B3{
    color: white;
    font-family:sans-serif;
    font-size: 15px;
    position: fixed;
    top: 53vh;
    left: 40vh;
  
    
 }
.B4
{
    height:6vh; width:50vh;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
    

}
#B5
{
    background-color: #2fb67c;
    border: none;
    box-shadow: 0px 3px rgba(42, 163, 111, 0.7);
    border-radius: 5px;
    height:6vh; width:50vh;
    color: white;
    font-weight: bold;
    
    

    
}
#B6
{
    background-color:#5D54A3;
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: 0px 5px rgba(0,0,0,0.3);
    font-family:sans-serif;
    height: 6vh;
    width: 60vh;
    font-size: 16px;
    position: fixed;
    right: 40vh;
    top: 10vh;
}
#B7
{
    color: #a0a0a3;
    font-size: 8px;
    text-align: center;
    font-family:sans-serif;
}



form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white ;
    box-shadow: 0px 3px rgba(0,0,0,0.3);
    height: 60vh;
    width: 60vh;
    position: fixed;
    right: 40vh;
    top: 20vh;
}